<ion-view view-title="AmexPOSify">

  <ion-content>
   <!-- <div class="bar bar-header bar-positive">
  		<h1  class="title">$300.00 Balance</h1>
	</div> -->
<!-- 	<div class="bar bar-header  bar-stable">
  	<h4 class="title">PAST TRANSACTIONS</h4>
	</div> -->
   <ion-list>
      <ion-item  class="" ng-repeat="friend in friends">
        <p>{{friend.tdate}}</p>
        <h2> {{friend.name}} -- ₹{{friend.amount}}</h2>
        <p>Transaction ID : {{friend.tid}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
