<ion-view view-title="AmexPOSify">
 <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="merchant in merchants" type="item-text-wrap" href="#/tab/dash/{{merchant.id}}">
        <img ng-src="{{merchant.face}}">
        <h2>{{merchant.name}}</h2>
        <p>{{merchant.address}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(merchant)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
