<ion-view view-title="AmexPOSify">
  <ion-content>
    <ion-list>
      <ion-item class="item-toggle">
        Pay With Scan
        <label class="toggle">
          <input type="checkbox" ng-model="pwp.enable" ng-change="pwpChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
      <ion-item class="item-toggle">
        Notifications 
        <label class="toggle">
          <input type="checkbox" ng-model="settings.enableFriends" ng-change="ppChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
    <div class="list card">

 	 <div class="item item-thumbnail-left">
    	<img src="img/gold.png">
    	<h2>Gautam Garg</h2>
    	<p>Gold Card Ending In -1003</p>
  	</div>

    <div class="card">
 		 <div class="item item-divider">
    		Address
  		</div>
  		<div class="item item-text-wrap">
    		Oasis Mall, Koramangala
  		</div>
  		<div class="item item-text-wrap">
    		Bangalore 560047
  		</div>
  		
	 </div>

	</div>
  </ion-content>
</ion-view>
